<!--
      Cabeçalho: Botão responsável pelo start do scan 
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">PIBIT 2020 1</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button ion-button (click)="scan()">
        <ion-icon slot="icon-only" name="refresh">Scan</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!--
    Conteúdo principal: Entrega Resultados da busca para a tela 
-->
<ion-content class="ion-padding" color="secondary">
  <ion-card>
    <ion-card-header align="center">
      <h3>Escolha a malha desejada:</h3>
    </ion-card-header>
    <ion-buttons>
      <ion-list>
        <ion-item>
          <ion-button ion-item *ngFor="let device of devices" (click)="BleConnect(device)">
            {{device.name}}
            {{ device.id}}
            {{ device.service }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-buttons>
  </ion-card>


  <ion-button align="center" size="full" class="ion-padding" (click)="BleDisconnect(device)">
    Desconectar
  </ion-button>
</ion-content>
<!--
    Rodapé da pagina  
-->
<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>