<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!--
      CARD 01
    -->
  <ion-card align="center">
    <ion-card-header class="ion-text-center">
      <h2>O que é este aplicativo?</h2>
    </ion-card-header>
    <ion-card-content class="ion-justify-content-start">
      <p>Esse aplicativo tem como objetivo educacional a prevenção da formação de lesão por
        pressão nas pessoas em
        cadeira de rodas. A folha com os sensores deve ficar acima de uma almofada que evite essas úlceras. Por meio da
        utilização desse sistema interligado, o aplicativo demonstra indiretamente a pressão exercida no assento. Ainda,
        envia notificações quando a pessoa atingir um tempo de permanência longo na mesma posição e, consequente,
        excesso de pressão em determinada área, para avisá-la da troca de posição antes de sofrer algum dano naquela
        região comprimida. Nessas notificações, estarão contidos exemplos de diferentes posições para alívio da pressão
        que a pessoa pode adotar. Além disso, o aplicativo conta com um material informativo sobre lesões por pressão.
      </p>
    </ion-card-content >
  </ion-card>

  <!--
      CARD 02
    -->
  <ion-card align="center">
    <ion-card-header class="ion-text-center">
      <h2>Sugestões de reposionamento</h2>
    </ion-card-header>
    <ion-card-content class="ion-justify-content-start">
      <p>1 - Evitar submeter a pele à pressão ou a forças de cisalhamento.</p>
      <p>2 - Não arraste a pessoa enquanto a reposiciona, levante-a.</p>
      <p>3 - Evite utilizar os apoios para elevação de pernas em pessoas com comprimento inadequado dos isquiotibiais.
      </p>

    </ion-card-content>
  </ion-card>

  <!--
      CARD 03
    -->
  <ion-card align="center">
    <ion-card-header class="ion-text-center">
      <h2>O que é Lesão por Pressão?</h2>
    </ion-card-header>
    <ion-card-content class="ion-justify-content-start">
      <p>A lesão por pressão, também chamada de úlcera por pressão ou escara, é uma ferida na pele, geralmente próxima
        de uma região óssea, causada pelo resultado da pressão exercida em conjunto com outros fatores no local.
        Essas lesões são como um iceberg. Aquela ferida na pele é somente a ponta, a lesão pode ser bem mais profunda
        internamente.
      </p>
    </ion-card-content>
  </ion-card>




</ion-content>