<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=home> </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="bg-detail">
    <ion-buttons slot="start">
      <ion-back-button default="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="cancel">
    </ion-buttons>
    <ion-card color="grey">
      <div class="cd-detail">
        <ion-card-header align="center">
          <ion-item align="center">
            {{ peripheral.name || 'Dispositivo' }}
          </ion-item>
        </ion-card-header>
        <ion-item>
          <ion-card-content align="center">
            {{ peripheral.id }}
          </ion-card-content>
        </ion-item>

        <ion-item *ngFor="let service of peripheral.services">
          <ion-card-header align="center">
            Serviços
          </ion-card-header>
          <ion-card-content align="center">
            {{service}}
          </ion-card-content>
        </ion-item>
        <ion-card-header align="center">
          Detalhes
        </ion-card-header>
        <ion-card-content align="center">
          <pre>{{peripheral | json }}</pre>
        </ion-card-content>
        <ion-card-content align="center">
          
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>

