* {
  font-family: lato;
}

.menu-header-bg{
  height: 180px;
  widows: 350px;
  background-color: #04bcc97c;
  background: linear-gradient(90deg, #04bcc97c 0%, #04bcc97c 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
  
}
.header-content{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  h2 {
    font-weight: 300;
    color: #25312f;
    font-size: 40px;
  }
  p {
    font-size: 20px;
    color: #25312f;
    font-weight: 100;
    letter-spacing:0.4px;


  }
}
.menu-items{
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #86979f;
}
ion-item {
  padding-left: 20px;
  margin-bottom: 10px;
}
.active{
  border-left: 5px solid;
  color: #628cff;
  padding-left: 15px;
}
ion-icon{
  color: #628cff;
}

}
