<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <ion-label>
          <h2>Malha</h2>
          <p>Teste de subtitle</p>
        </ion-label>
      </div>
      <ion-list class="menu-items">
        <ion-list-header>
          <ion-label>Páginas</ion-label>
        </ion-list-header>
        <ion-menu-toggle autoHide="false">
          <ion-item lines="none" class="menu-items" routerLink='/home'>
            <ion-label>
              Home
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="menu-items" routerLink='/more'>
            <ion-label>
              Saiba mais
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>



    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>